
{% load static %}

<!doctype html> 
<html lang="en"> 
    <head> 
    <!-- Required meta tags --> 
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   
  
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap CSS --> 
    
   
    
</head> 
<body> 

    <span class="w3-badge whatsapp-this w3-white w3-border w3-border-blue w3-hover-green">
        <a href="{{ whatsapp_url }}" class="w3-xlarge" target="_blank" title="Share on WhatsApp"><i 
            class="fa fa-whatsapp"></i></a>
    </span>
    
</body>
</html>