
{% load static %}

<!doctype html> 
<html lang="en"> 
    <head> 
    <!-- Required meta tags --> 
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   
  
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap CSS --> 
    
   
    
</head> 
<body> 

    <span class="w3-badge w3-white tweet-this w3-border w3-border-blue w3-hover-light-blue">
        <a href="{{ tweet_url }}" class="w3-xlarge meta-act-link meta-tweet" target="_blank" title="Share on Twitter">
            <i class="fa fa-twitter"></i></a>
    </span>
</body>
</html>