
{% load static %}

<!doctype html> 
<html lang="en"> 
    <head> 
    <!-- Required meta tags --> 
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   
  
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   
    <!-- Bootstrap CSS --> 
    
   
    
</head> 
<body> 

    <span class="w3-badge w3-hover-blue email-this">
    <a href="{{ email_url }}" class="w3-xlarge" target="_blank" title="Share via Email"><i class="fa fa-email"></i></a>
</span>
</body>
</html>