{% extends 'base.html' %}
{% load static  %}
{% load widget_tweaks %}
{% block title %}Log In{% endblock title %}
{% block content %}
     
<div class="w3-row w3-sand">

    <div class="w3-col w3-teal"
    style="width: 50%;">
        <div class="w3-container w3-blue w3-center w3-round">
            SIGN IN TO YOUR ACCOUNT
        </div>
        <form method="POST" class="w3-margin">
            {% csrf_token %}
            {% include 'bs4_form.html' with form=form %}
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <a href="{% url 'password_reset' %}">
            <i class="w3-text-indigo w3-hover-text-yellow w3-margin"> Forgot Your Password?</i></a>
        <em class="w3-right">Don't Have An Account?
            <a href="{% url 'signup' %}">
                <button class="w3-btn w3-blue w3-hover-teal w3-round w3-margin">Sign UP</button>
            </a>
        </em>
    </div>

    <img src="{% static 'image/man-in-white.jpg' %}" alt="login"
        class="w3-col w3-image w3-animate-fading"
        style="width: 50%; height: 400px;">
        
    </div>
    <div class="w3-container w3-light-blue n w3-large" 
    style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
        It's time for the whole people of the world who have interest in programming to come together
            as one and help one another grow. Not only do we provide answers and guideline to programming challanges,
            we also offer timely links where you can advance more in your career life.
            You can find links for scholarships, jobs, freelancing jobs and other helping center right below.
        
    </div>

{% endblock content %}
