{% extends 'base.html' %}

{% block title %} Enter new password{% endblock title %}

{% block content %}

<div class="w3-container w3-card-4 w3-margin w3-padding">
    <h2>Set a new password</h2>
    <note class="w3-blue">Choose a strong password that will be very difficult to guess</note>
    <form method="POST" novalidate>
        {% csrf_token %}
        {% include 'bs4_form.html' with form=form %}
        <input class="btn btn-success" type="submit" value="Change my password">
    </form>
</div>
{% endblock content %}