{% load static %}

<!doctype html> 
<html lang="en"> 
    <head> 
    <!-- Required meta tags --> 
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/W3.css' %}">
    <!-- Bootstrap CSS --> 
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    
   

    
    <title>Codes-Hub</title> 
</head>
<body> 
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4 fixed-top leftbar">
        <a class="navbar-brand" href="{% url 'home' %}"> <img src="{% static 'image/Codes-Hub.png' %}" 
            alt="logo" style="height:50px; float: left; margin-right: 7px;"></a>
            <a class="navbar-brand" href="{% url 'home' %}"> Codes-Hub</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" 
            data-target="#navbarCollapse" aria-controls="navbarCollapse" 
            aria-expanded="false" aria-label="Toggle navigation"> 
            <span class="navbar-toggler-icon"></span>
        </button> 
        <div class="collapse navbar-collapse" id="navbarCollapse"> 
            {% if user.is_authenticated %} 
            
            <ul class="navbar-nav mr-auto"> 
                <li class="nav-item"><a href="{% url 'post_list' %}">Forum</a></li>
            </ul> 
            <ul class="navbar-nav mr-auto"> 
                <li class="nav-item"><a href="{% url 'about_us' %}">About Us </a></li> 
            </ul>
            <ul class="navbar-nav mr-auto"> 
                <li class="nav-item"><a href="{% url 'contact' %}">Contact Us</a></li> 
            </ul>
            <ul class="navbar-nav ml-auto"> 
                <li class="nav-item"> 
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="userMenu"
                        aria-expanded="false"> 
                        {{ user.username }} 
                    </a> 
                    <div class="dropdown-menu dropdown-menu-right" 
                        aria-labelledby="userMenu"> 
                        <a class="dropdown-item" 
                        href="{% url 'password_change'%}">Change password</a> 
                        <div class="dropdown-divider"></div> 
                            <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
                        </div>
                </li>
                </ul>
                    
            {% else %}
            <ul class="navbar-nav mr-auto"> 
                <li class="nav-item"><a href="{% url 'about_us' %}">About Us </a></li> 
            </ul>
            <ul class="navbar-nav mr-auto"> 
                <li class="nav-item"><a href="{% url 'contact' %}">Contact Us</a></li> 
            </ul>
                <form class="form-inline ml-auto"> 
                    <a href="{% url 'login' %}" class="btn btn-outline-secondary">Log In</a> 
                    <a href="{% url 'signup' %}" class="btn btn-primary ml-4">Sign up</a> 
                </form>
            {% endif %}
        </div>
     </nav>
        
            
<div class="w3-display-container w3-black" style="height: 500px; width: 100%;">
  <!--  <img src="{% static 'image/cover-1.png' %}" alt="Lights" 
        style="height: 500px; width: 100%;"
        class="w3-grayscale">     -->
        
    <div class="w3-display-topmiddle w3-wide" 
        style="margin-top: 70px;">
        <div class="wordart welcome">
            <span class="text">MEET</span>
        </div>
        
        <div class="wordart codeck">
            <span class="text">CODERS</span>
        </div>
                
    </div>



    <div class="w3-display-topmiddle w3-container" style="margin-top: 230px;">
        <div class="wordart where">
            <span class="text">AT</span>
        </div>
    </div>

    <div class="w3-display-topmiddle w3-container" style="margin-top: 310px;">
        <div class="wordart CODERS">
            <span class="text w3-bar-item">CODES-</span>
        </div>
        <div class="wordart meet">
            <span class="text w3-bar-item">HUB</span>
        </div>
    </div>

    {% if user.is_authenticated %}
        <div class="w3-bar">
            <button class="w3-margin w3-sand" style="border: 0px;">
                Hello {{user.username}}
            </button>
            <button class="w3-button w3-margin w3-blue w3-hover-orange w3-right">
                <a href="{% url 'post_list' %}" class="w3-text-white" 
                style="text-decoration: none;">Join Discussion</a>
            </button>
        </div>
    {% else %}
        <div class="w3-bar">
            <button class="w3-button w3-margin w3-blue w3-hover-orange">
                <a href="{% url 'signup' %}" class="w3-text-white" style="text-decoration: none;">JOIN US NOW</a>
            </button>
            <button class="w3-button w3-margin w3-blue w3-hover-orange w3-right">
                <a href="{% url 'login' %}" class="w3-text-white" style="text-decoration: none;">SIGN IN</a>
            </button>
        </div>
    {% endif %}

</div>




<div class="w3-display-container w3-black" style="height: 500px; width: 100%;">
     <img src="{% static 'image/cover-1.png' %}" alt="Lights" 
          style="height: 500px; width: 100%;"
          class="w3-grayscale">
          
      <div class="w3-display-topmiddle w3-wide" 
          style="margin-top: 70px;">
          <div class="wordart welcome">
              <span class="text">ALL</span>
          </div>
        
                  
      </div>
  
  
  
      <div class="w3-display-topmiddle w3-container" style="margin-top: 230px;">
          <div class="wordart where">
              <span class="text">ABOUT</span>
          </div>
      </div>
  
      <div class="w3-display-topmiddle w3-container" style="margin-top: 310px;">
          <div class="wordart meet">
              <span class="text">CODES</span>
          </div>
      </div>






<div class="w3-container w3-pale-blue w3-leftbar w3-border-blue">
    <h2 class="w3-center w3-text-blue"> WHAT WE DO</h2>
    <h5  style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Our goal is to bridge the gap between professionals and beginners in computer programming.
        Despite the fact that many resources are made available in the internet for aspiring and 
        beginners in the programming space to utilize, many are still finding it very difficult 
        to understand and cope with them. The internet can be overwhelming for beginners, hence, there's need to
        adequately help people in this category.</h5>
    <h5  style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 
    'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"> 
        We are made up of developers from all fields of programming and the world of technology
        ranging from Python, C++, Java, PHP, HTML,CSS,
        and any aspect of programming background. At Codes-Hub, we consist programmers from all over the world
        with diverse knowledge in all areas of the programming paradigm.
    </h5>
</div>

<div class="w3-container w3-pale-green w3-rightbar w3-border-blue">
    <h2 class="w3-center w3-text-blue"> WHY JOIN US</h2>
    <h5  style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 
    'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
        We are family that listeins to one another's problems. We are not formal people who just mind their 
        businesses. We give all equall opportunity to grow. We are not like the big platform where one asks
        questions and wait till who knows when, for answers. As soon as your post your challange in our forum,
        you're guaranted of some answers within a short time.
        <p class="w3-large" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 
        'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
            You are not only limited to asking questions, you can voice out your coding progress or achievements
            while members celebrate you with their comments.
        </p>
            <p class="w3-large" style="font-family: 'Lucida Sans', 'Lucida Sans Regular',
             'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
                Are you already a professional in a particular filed, meet other professionals in this Forum
                plus you can equally develop skills in other areas where others professionals will be sharing their 
                progress.
            </p>
            <p class="w3-large" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
             'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
                Are you a beginner in a given field of technology, we are to clean off <em>beginner</em> from you and
                make you a pro in the shortest available time in any programming language of interest.
            </p>
            <p class="w3-large" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 
            'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
                Are you a data scientist or big data lover, at Codes-Hub, you'll meet like minded people from 
                all part of the world who will help you develop and deploy your interest.
            </p>
    </h5>
</div>
  
  
            

<div class="w3-row w3-border w3-margin-0">
    <div class="w3-half">
        
            <img src="{% static 'image/head.jpg' %}" alt="head" 
            class="w3-image w3-hover-opacity w3-animate-right">
        
        <p class="w3-large w3-black" 
        style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
        programming can be hectic when you don't have anyone to discuss your challanges with. 
        At Codes-Hub, we are out to stand for one another and make sure you don't suffer hard and long 
        before getting help. Bring your coding challanges and get help faster.</p>
    </div>

    <div class="w3-half">
        <a href="{% url 'signup' %}">
        <img src="{% static 'image/children.jpg' %}" alt="children" 
        class="w3-image w3-hover-opacity w3-animate-left">
        </a>
        <p class="w3-large w3-black" 
        style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 
        Geneva, Verdana, sans-serif;">
        We don't only answer your questions but also rejoice with you when you avhieve something great
        in the programming sphere. We help suggest better practice you can follow for optimum result 
        in your programming career. We are committed to making your programming journey easier, thereby
        achieving your goals faster.
        Join us <a href="{% url 'signup' %}" style="text-decoration: none;">here</a> and see how far you'll go.</p>
    </div>          
</div>


            
        
<div class="w3-container w3-black w3- card">  
    <div class="w3-row">
        <div class="w3-card w3-quarter w3-center">
            <h5>Other places to get programming help</h5>
            <p>
                <a href="https://www.stackoverflow.com" target="_blank">Stackoverflow</a><br/>
                <a href="https://www.quora.com" target="_blank">Quora</a><br/>
                <a href="https://www.reddit.com" target="_blank">Reddit</a><br/>
                <a href="https://www.stackexchange.com" target="_blank">StackExchange</a><br/>
                <a href="https://www.codeproject.com" target="_blank">CodeProject</a><br/>
                <a href="https://www.groups.google.com" target="_blank">Google Groups</a><br/>
                <a href="https://www.coderanch.com" target="_blank">CodeRanch</a><br/>
                <a href="https://www.programmersheaven.com" target="_blank">Programmers Heaven</a><br/>
                <a href="https://www.findnerd.com" target="_blank">FindNerd</a><br/>
                <a href="https://www.chegg.com" target="_blank">Chegg</a><br/>
            </p>
        </div>
        <div class="w3-card w3-quarter w3-center">
            <h5>Remote Work</h5>
            <p>
                <a href="https://www.angellist.com" target="_blank">AngelList</a><br/>
                <a href="https://www.remote.com" target="_blank">Remote</a><br/>
                <a href="https://www.weworkremotely.com" target="_blank">WeWorkRemotely</a><br/>
                <a href="https://www.remote.co" target="_blank">Remote.co</a><br/>
                <a href="https://www.jobpressco.co" target="_blank">JobPressco</a><br/>
                <a href="https://www.github.com" target="_blank">GitHub</a><br/>
                <a href="https://www.fiverr.com" target="_blank">Fiverr</a><br/>
                <a href="https://www.upwork.com" target="_blank">Upwork</a><br/>
                <a href="https://www.upwork.ng" target="_blank">UpworkNg</a><br/>
                <a href="https://www.guru.com" target="_blank">Guru</a><br/>
                <a href="https://www.eworker.co" target="_blank">Eworker</a><br/>
                
            </p>
        </div>
        <div class="w3-card w3-quarter w3-center">
            <h5>Programming Scholarships</h5>
            <p>
                <a href="https://www.microsoft.com/en-us/diversity/programs/blacks-scholarships.aspx" 
                target="_blank">Blacks at Microsoft Scholarships</a><br/>
                <a href="http://www.aises.org/scholarships" target="_blank">AISES Intel Scholarship Fund</a><br/>
                <a href="https://www.aim.applyISTS.net/esaf" target="_blank">ESA Foundation Scholarships</a><br/>
                <a href="http://www.course.com/webwarrior/rules.cfm" target="_blank">Web Warrior Scholarship</a><br/>
                <a href="http://www.ruraltechfund.org/rtf-scholarships/" target="_blank">Judy Shankle Scholarship</a><br/>
                <a href="http://www.newtarget.com/scholarship-fund-alexandria" 
                target="_blank">New Target Internet Scholarship</a><br/>
                <a href="https://www.community.hpe.com/t5/Grounded-in-the-Cloud/
                OpenStackscholarship-program-advancing-the-next-generation-of/ba-p/6780601#.WIO1Qzl9n0" 
                target="_blank">HP Helion OpenStack Scholarship</a><br/>
                <a href="https://www.code.google.com/codejam" target="_blank">Google Code Jam Competition</a><br/>
                <a href="https://www.nfb.org/scholarship-list" target="_blank">Oracle Scholarship</a><br/>
                <a href="https://www.webucator.com/scholarships/index.cfm" 
                target="_blank">Webucator Scholarship</a><br/>
                <a href="https://www.worldscholarshipforum.com/programming-scholarships" 
                target="_blank">More Scholarships</a><br/>

            </p>
        </div>
        <div class="w3-card w3-quarter w3-center">
            <h5> Jobs sites</h5>
            <p>
                <a href="https://www.careerbuilder.com" target="_blank">CareerBuilder</a><br/> 
                <a href="https://www.dice.com" target="_blank">Dice</a><br/>
                <a href="https://www.grassdoor.com/index.htm" target="_blank">Grassdoor</a><br/> 
                <a href="https://www.googleforjobs.com/about/" target="_blank">GoogleforJobs</a><br/>
                <a href="https://www.idealist.org/en/" target="_blank">Idealist</a><br/>
                <a href="https://www.indeed.com" target="_blank">Indeed</a><br/>
                <a href="https://www.linkup.com" target="_blank">Linkup</a><br/>
                <a href="https://www.about.linkedin.com" target="_blank">Linkedin</a><br/>
                <a href="https://www.job.com" target="_blank">Job</a><br/>
                <a href="https://www.theladders.com" target="_blank">Ladders</a><br/>
                <a href="https://www.snagajob.com" target="_blank">Snagajob</a><br/>
                <a href="https://www.simplyhired.com" target="_blank">SimplyHired</a><br/>    

            </p>
        </div>
    </div>
    <p class="w3-center"> Copyright - 2020 Codes-Hub</p>
</div>
    <!-- Optional JavaScript --> 
   <!-- <jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script> 
        <script src="{% static 'js/bootstrap.min.js' %}"></script>  
      
</body> 
</html>
