{% extends 'base.html' %}

{% block title %}Share a post {% endblock title %}

{% block content %}
    {%  if sent %}
        <h2>E-mail successfully sent</h2>
        <p> "{{ post.title }}" was successfully sent to {{ form.cleaned_data.to }}</p>
    {%  else %}
        <h2>Share "{{ post.title }}" by E-mail</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Send E-mail">
        </form>
    {% endif %}
{% endblock content %}

